//colors

// text
$white:#ffffff;
$dove-gray:#626262;
$cabaret: #d54c63;
$fiord: #3a4d60;
$purple-mountain:#a87bb7;

// elements
$purple-heart:#8824CD;
$pinkle-bluewood:#2e3b4e;
$mandy:#e7526b;
$nobel:#B6B6B6;
